dev tap

proto tcp

remote vpn01d.root.yandex.net 1194
remote vpn01e.root.yandex.net 1194
remote vpn01h.root.yandex.net 1194

remote-random
resolv-retry infinite

link-mtu 1492

client
nobind
key-direction 1
cipher AES-128-CBC

comp-lzo

<ca>
-----BEGIN CERTIFICATE-----
MIIGBzCCA++gAwIBAgIJAOj0jYp2HRuTMA0GCSqGSIb3DQEBCwUAMIGZMQswCQYD
VQQGEwJSVTEPMA0GA1UECAwGTW9zY293MQ8wDQYDVQQHDAZNb3Njb3cxJTAjBgNV
BAoMHHJvb3QueWFuZGV4LmNvbSBTZWxmU2lnbmVkQ0ExHDAaBgNVBAMME3Jvb3Qu
dnBuLnlhbmRleC5jb20xIzAhBgkqhkiG9w0BCQEWFG5lbWNhQHlhbmRleC10ZWFt
LnJ1MB4XDTE1MDMyNjE0MTk1M1oXDTE4MDMyNTE0MTk1M1owgZkxCzAJBgNVBAYT
AlJVMQ8wDQYDVQQIDAZNb3Njb3cxDzANBgNVBAcMBk1vc2NvdzElMCMGA1UECgwc
cm9vdC55YW5kZXguY29tIFNlbGZTaWduZWRDQTEcMBoGA1UEAwwTcm9vdC52cG4u
eWFuZGV4LmNvbTEjMCEGCSqGSIb3DQEJARYUbmVtY2FAeWFuZGV4LXRlYW0ucnUw
ggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDZ5qMxnczQBlb9vcBLXoUR
TCnRNrZLTFH3ooU8ZjjfxBZiQcs80lpcqIsdBjevgGE9KzQNbAgagyLEVcjze+la
dnFpz334FjwlBZ1h96fAxoChBshLMSg9Hwo16xWBne/EugLRdGRYUGvWii/J1TRn
2E2KKHv/l+mS2xF4NHQOBAfxV1QlYQT6p9i83qh+5/oVO+kGsWa2Q1SEja4VvLQ1
y6dZZhENt6OzEnP+klTkggWNQ9IMGtPlURs75n4dHMVG46rz8ROCxuugdTU2KJoh
v7bzxOm0y2c9VB5MVhe1QnihTKhTWvurJChFTiNYoWdPYkIaFoPoqGSXokP48GJs
+vUlatcnlFtTYlwWjoWUAswaCBn1mOFzmt6rNE9tsQ1wxtmS4nFkKRICPBmQlMNo
wzAtAlGDGoO/H+fmbb+3XfWgNRfMgzQ52VTXp3PFVODvvv9Az/XDEblEbEzFWivE
OCxB0/91I1hCWV8IJjymxEI+hCX3NCWW8lyP2pz5aZvCVaBoXgO8xjdJfgdPYl8z
XSsHCrym00IAZOgWnt7TP0DB2o7P7PqLzJARWhZXIsu2qDZQnaElVT84wwT11VoE
xW2NHQYrzArQcTKBuOgG05ZlqqTnrPIifp0qw+GQOyzRT9I4n9jByBXilEiwMciG
kEVXYOMzrxIbYUUr+C5MoQIDAQABo1AwTjAdBgNVHQ4EFgQU+1KTqIEFLaoZXNvq
q6C9uUAms1cwHwYDVR0jBBgwFoAU+1KTqIEFLaoZXNvqq6C9uUAms1cwDAYDVR0T
BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEALrnMqg1SJ1OMx2ZOqXYoYMv/v/VO
5CMRz3Ahkx8fq5cJG1zQax+XyL6XEqqaIGh6gFTl5uxI46NOEVd0mDPpSjFba7KQ
63Z17IFziXaRbRcQgJftdwYwEL0lSPY8R5FFCFG8IyIMaQYNBgdTmutJuVPNQOA6
tL5APKsJuCAE43gFG6IGi8kUz+grl2z/VMa55Tc1i7vIUPYHrAWZglBmg9sKB/Ei
1tPYB9KEeu5dUnCe9NU7ZzK6562LZUXdJLwuOlKFLfkvE+U1dvpwXmfKGmsST48a
aBqK16yjgnAcxWAMOnHpxHsDqyXBGsoLHCDAfJ7bd5y4Y3g+XN4ZF3fDIoz39iQR
tUQGI0hiERfBGx8lzl0xU9fKsJAdkxLmJCOJ4H7KPx50Il2k4SgsGOqf/MXgNVsL
t/LPHrAJQvr4SGong2f9O/3W+aDLrR+809zZPfFaixJ/UGvoypP5rJE45WNHy6pg
c8IXh84Hq7cYedd+RX+quKhCL7NEaT5VcZv/0q0P2aNcbaXbxWoxTtOET9cRMkBI
Ha0wWnGRd+ZOboQuos0alANpBCzGOVaV8ck7P3uI+Zy3jnZFe6uI5BSNtJBOO5IH
b82HLsrdJRXA7R+7rCEq4CemR6LQmHIMMrINvZGR2H6WwQx48j9sEE06CDa7l191
L8teWncQkf+O8/s=
-----END CERTIFICATE-----
</ca>
<dh>
-----BEGIN DH PARAMETERS-----
MIIBCAKCAQEAjq14L4Owq7TAECHpk138geRoPiTI9FwHRri02Hgkfsy40zxhhTIA
I2xYXClR9x9XuGRnC+IplV2SiQjBSgfA+r0dU6hjloyesbczPyj3l3/7/0QwtLaC
ePeDXgpMigQITxvMls6025etdttJkMrIaeOQJlbcfN76fNlx8CcwKQTKWpBCj0Ww
yxJ8G6ldTdLOqz4770AYRWvjkASYOTK+YUwbbcFRVPIB291KpCid4Td4Dl4g6+Xb
VOCiYfBtcwc/ixHUamc2RjT2u4GykTPBzx7rjo0Hxp9BfTffbd3e7IsRezLvn4Ig
WXM7UskkrN9+Cj1L1pCPT2oMxI9U6oETkwIBAg==
-----END DH PARAMETERS-----
</dh>
<tls-auth>
#
# 2048 bit OpenVPN static key
#
-----BEGIN OpenVPN Static key V1-----
70b300832795c6cc7571b5daf5508747
3bbf0f98237f941eb8d3ba4031a6ce06
89c8f2faef55f68258092254415a94ac
7ad8849b55cf1730c1e60a705de9cbd5
0294e0ef068ee394ee84786f83479422
8831d35d06fbd61491770480f3f96a0c
9ff5972a608201276ec03385a7d6d9b9
7dfb51ccd8e045c41f5166dfffb0f05e
94ac46ac904eb8c12b925332dec23630
832714974f9aea87e2f096bb5fd5315f
df48ce69dcb2422e9bac2496d987bd85
9d83bc640d63dd372eba20409d3cfae3
568ce2ca71c9ed045928a319abb078ed
129fddefec51d3a40d6d9d36e18aa961
82a3b0c6e5b281459549fbb0fb5f24a3
4b7631fc21ac6d449abe5fa64cd26dcc
-----END OpenVPN Static key V1-----
</tls-auth>
<pkcs12>
MIIK0QIBAzCCCpcGCSqGSIb3DQEHAaCCCogEggqEMIIKgDCCBTcGCSqGSIb3DQEH
BqCCBSgwggUkAgEAMIIFHQYJKoZIhvcNAQcBMBwGCiqGSIb3DQEMAQYwDgQI8Jlu
zVCgO7cCAggAgIIE8HuaboRdjRRs5KzhMdzMvqDF09gUzeZpd0AxTMHMzueXl4Aw
FVuxHEkSR60CSZjk6w6BPJtzrzxuZpwQPXuuzuOg8frLL8EOgUuGl4qSQ/ro9h15
c/GRzjMIIHlGKpeUAf4JWCdFm+E/wG5Jeat3RcPgp+koPGMRT0Te31kgusKGgNm+
Q+GFLonDEjBaVe2FagJhioKgCq6JqTMsjX0wcUbGPGFHwnTi6VVNmWJ9SyK1KRpv
anxRJ/tG2zJkF7lHob+01Oea60XmBDwL9aTC9LOwngu7szRZBTrbWggiXQNSk/lv
JMbUlpPDXLO39NvqPvvKgi0gY881nUKPihWsq8Na/egIdqIMu4zD4kNbMQTriCVV
zQ0gvr/01MBERQE9QYXWwGqrLjkCfK42p+QDR7/zSFIBaxdH2r1GLmFX9paUhgto
FeqCqk7zILkLrnlAmQiAesnX0Pe9dnV0v6OZgIMs0Ri7SopU1gQn91o9eC7wl2KC
b9LZVtWcd0NxjRRZ2q8yUqDZOvzGtuB8S/kegkZOMEqYZnuKDV5BC/vZKG/9B/Su
a0pMvF2tWUIlXcx6niW6dgsWi798XLu+QHwjv3NtFpD1pge7Z5HR3kJKLr0Icl95
9Mct4oP/qziqePYoOs/RPC16j0lIrgcrhbTk2epusRAJImPyLjRt7tDKRsBhp7EL
NCU2AJ7DXGRVAUTx84v9GB6cb/ZOtUL0qiPqskKabUH0iZHoLyzxvejpfkQU+IK3
tDw0sf5zvzifrqAcanwYhp1vUCSRqgKXGlxSiTykBIKnXLez/ePJwjEoe87Kp5ZL
bzqo9P8UMbv95BjXB8Jx5jXszbIKydFbb2n/aYAs23DBHHeCEJhRBOqoQH1WPDvI
4MDP4gpHV5WdtTpNoWCe8XXpTckSs7XGk7gdnZMdI8YgBx1/MbFFsqF4ybzb2qmb
A1Gyog5aTpllpVci0DiHeGPlolRcfOxdv6aYTPeO1l4BMMjXOPmlXaWDPVE/XTCf
PKnvsFsXn5oESHSf6S0OGiPPQlfrEn3EMdOoyNMIAI1Ng5jml69MNOOeNM5BBg7o
aBm8qtfISxXvYu/w+SixMhUPnGkveMM1OxHPn70pDmbnBKWi8SntJhVRZ70T0AS7
A2UJwybB2LKImf24xDOyfj4RofYWDh64x4csjNLTkZyqYpgKQKOcI1kXVj5cr5Ly
4Hjiralc8KhRzhtWHoPrvWSggNxQHBC6m/rSwOGN50CpJamcBPPKzBWUpbYBVIKE
0CR9CxqEUecL18Skc0E/kJFYh+i5vdzqZlt3kqCtDeRUCcIGWzcWmlYEUBPWEQ/K
T+ncwc4P+4ZUK9sUQEh2hfoRXtrSkfbT7y7qvJnJIw5EMXdqG8On4Sgytig580fC
prAHSOOnahkioXGyP+R0n3IF0jOVTilHGa1RBE/MknOkmjRBljEm4gZFTxYwqmmC
TY2TTtEDqDCDU3Vm6eFhvUTBnP9vf04PHz+EYLbrTwmbIp1M1IcOBrd5kNs59Yyw
tcfn0eabdx3YXq4xJhtu2muqdJvSFjQ9t+H0ziYM+KTPvjgOkY2zcAS5+FyOy+dt
ZrolXQp46iVTnutG2YhiXGaCw68re6N9+0WzdsDZR7ZvhcDdYwduNS6SPehU8qRy
PAXnjxfZfplqMjHgPlyKhLOG7EoU8bT5k2Y0F08wggVBBgkqhkiG9w0BBwGgggUy
BIIFLjCCBSowggUmBgsqhkiG9w0BDAoBAqCCBO4wggTqMBwGCiqGSIb3DQEMAQMw
DgQI2Q63mVsz/0YCAggABIIEyPpNfLTr4UPK2VUF7UfgM2kPP77GVv9EDqXKlwGr
Q9SOqUqR+5VRab0hDf+OKeSBT5iWjuEG1d2oq5Fvv4OfQeauUl2kZ4YjwIfIWcjf
YArMiOx5eWd3ydfxZG6kgAb5e5NcrBtaYSKinI1EgEtTKDBgIjM9oAWgFj/X3IIS
Wsz2Vp6fLBp+6VwPOTj6H5oD4AdHZacXS0Z4t9ytR+xUmDvblxBrT9ytR2pG1qwU
SvPrsM/afyI6n5rcMWB05PdrHiq9dOPNg/mgwCH04GO+2VzDx6xOgHnXtECPfGp5
/y52S+1DzgOT7jkIv/+MXkBGm29kkaVskgfz0rUzQO1CsIpbjE888AqNz2H2KvcM
a3gIA+ONUeIpQiG7TQgSgEdWikfrSeU6zgC6qTtDFKCsoqYwnLIzfNLVdoRjE0+b
XJ05Kzthed1w1O83+mN5GZd3pDzG8EF1L0W6bicH+VwRibH/zip0bcpCoWMHWOKq
50+fPIWmbS/27kYpc2VLDlJcNsZNmTghYTs6SiiAWdIcQwg4hyA8isQdQWRdTrS7
e86XpdC7pPnnnC/2LwpYcGkZIrOVfO2qp454qOFXZvIZoxtVYd8Z4BsQcU8FoI1g
xv2/anP2QGm+pl20Nq20isnU1qYPwxCT9DTeZLlq5itPl61OF+98lmPAReSqNayf
eRE/Bk6eaJvt5OrsuG9zbPyXzSZOc/31KFgHrg0rrpA8/UDFHmGqYamUitNrUrAm
VmHD5VR+/XVN/n67by05xyYdgz5c4ZvnuqbcphLZvU6NaQUDqM7LOBdY7ShoSIqx
6wZe8MtruAoMnGt9LnNzWeVuyAQtmN8Psop5rJu37rqQsKWVTxnvKAiof6c3g+ZN
p8KrMijYDVhhJN1NlAXCoaRDNEtYruwojnKuuUVp/ogoNRs2V3Z4c/bupd5hsfAI
397n0Vdo3BeYUJmtSEg/sJqNzceaYexVF/2hcxVAhxuKzDKAnvqJwuRslAZMS6JB
U6OtcVyp9mxFf1QOeeqll+1nXg6L2KbNnx7GOoTaBiicSjPTPxausRZqsiWO+wCr
EQ8F376N8O5HkXf/kk+faIOHWOn7VuSai3MSOPPhPon0Smcr0svd1uLvFS1TJ1z0
7w1UjG8rPt9KEgo1o4FO70L+zUM8Tb61Dadm9bPBMM1jtI7B+WBsiIBdFSBQPDbI
+zMXJ/nq+PRAbkF1F4CQiOusmQrEgmIH4d8sLY7HOk/wBWp0IT2fKVu009w9IqTE
nwdJyfYG+UCr2WDVw2Grno1tRbda6jeb+mO73bXWdlfXaisaHPS5sVO/i5881vbV
W3nqtbcvHYsK8zyJfu0yM7OwV/y3h1YHakn4y/eQ6F5ZsyrxAWAm/+13dDP3+N+I
Mbw11PQDTsOI2z6eG6Usp+VfxF6SwQ+Nch3Wo23VWXYfx3WhkU8R6tGBXKiUyfJX
AAzC3b7FOww3aLhF8O3nOInur287W/ZeDU5bIi1Zm6Wx4+Sqy1MpyKS83TfkR37Q
XDbPwTQcRHpcMY9ga5VV/YJhYq1DJkVS+L8/5dHRN5GV9D6vAIrexmoN7frSApcK
Gib2Ij7RRAUHjgy/u5G9cQQH343TOOzqBMsOh480M/+v5Ee+NycIhiQV+DElMCMG
CSqGSIb3DQEJFTEWBBQU1CtRIHLzbuABQnOJqw+hia40rDAxMCEwCQYFKw4DAhoF
AAQU8H8873Ta2yViOekyw08vFNv6seEECHGvvSuRNBTlAgIIAA==
</pkcs12>
